
name: "Daily: LXD (reusable)"

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string

jobs:
  lxc:
    runs-on: ubuntu-latest

    env:
      CLOUD_INIT_PLATFORM: lxd_container
      CLOUD_INIT_OS_IMAGE: ${{ github.event.inputs.release || 'resolute' }}
      CLOUD_INIT_OS_IMAGE_TYPE: ${{ github.event.inputs.image_type || 'generic' }}
      CLOUD_INIT_LOCAL_LOG_PATH: ${{ github.workspace }}/cloud_init_test_logs

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.2
        with:
          channel: 6/stable
      - name: Setup pycloudlib
        run: |
          ssh-keygen -P "" -q -f ~/.ssh/id_rsa
          echo "[lxd]" > /home/$USER/.config/pycloudlib.toml
      - name: Run integration Tests
        run: |
          CLOUD_INIT_CLOUD_INIT_SOURCE=ppa:cloud-init-dev/daily tox -e integration-tests-ci -- --color=yes tests/integration_tests/
